@import "./mainColors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $lightGray;
  position: relative;
  width: 100%;
}
.header {
  display: flex;
  width: 100%;
  margin-right: 0em;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  background-color: $themeColor;
}
.footer {
  background-color: $themeColor;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: space-between;
  h6 {
    margin-top: 6em;
    margin-right: 10%;
    margin-left: 75%;
    color: $lightGray;
    font-weight: 200;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
}
.page {
  margin-left: 10%;
  height: 100%;
  width: 80%;
  background-color: transparent;
  margin-right: 10%;
}
