.products {
  color: $lightGray;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-family: $mainFont;
  margin-right: 30%;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  a {
    color: inherit;
    font: inherit;
    text-decoration: none;
  }
}
.h1-link {
  margin: auto;
  color: $lightGray;
  font-weight: normal;
}
