@import "./mainColors";
.links ul {
  margin-right: 2em;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  right: 5em;
  list-style: none;
  li a {
    text-decoration: none;
    color: $lightGray;
    display: flex;
    font-weight: 500;
    padding: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.25em;
    font-size: large;
    font-family: "Poppins", sans-serif;
    &:hover {
      background-color: $cyan;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: transparent;
    }
  }
}
.logo {
  position: relative;
  z-index: 1;
  margin-left: 5em;
  background-color: $themeColor;
  img {
    height: 75px;
  }
}
h1 {
  letter-spacing: 2px;
  font-size: 40px;
  color: $themeColor;
  margin-top: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.burger {
  visibility: hidden;
  display: none;
}
