@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e7e7de;
}
.logo {
  margin-left: 0px;
  position: relative;
  left: -300px;
  background-color: #0c1848;
}
.logo img {
  height: 96px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0c1848;
}
.links ul {
  display: flex;
  position: absolute;
  top: 25pt;
  justify-content: space-evenly;
  right: 0px;
  width: 500px;
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: #e7e7de;
  font-weight: 500;
  font-size: large;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1475px) {
  .links ul {
    margin-left: 150%;
  }
  .logo {
    left: -190px;
  }
}
@media screen and (max-width: 1215px) {
  .links ul {
    margin-left: 100%;
  }
}
@media screen and (max-width: 960px) {
  .links ul {
    margin-left: 50%;
  }
  .logo {
    left: -150px;
  }
}
@media screen and (max-width: 725px) {
  .links ul {
    position: absolute;
    right: 0px;
    height: 450px;
    flex-direction: column;
    top: 50pt;
    align-items: center;
  }
  .links ul li a {
    font-size: x-large;
  }
  .logo {
    left: -200px;
  }
  .header {
    height: 350pt;
    justify-content: center;
    align-items: baseline;
  }
}
