@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* * Body ----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e7e7de;
  position: relative;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0em;
  height: 5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f3057;
}

.footer {
  background-color: #0f3057;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer h6 {
  margin-top: 6em;
  margin-right: 10%;
  margin-left: 75%;
  color: #e7e7de;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.page {
  margin-left: 10%;
  height: 100%;
  width: 80%;
  background-color: transparent;
  margin-right: 10%;
}

/* ! ----------------------------------------------------------------------------------*/
/**/
/**/
/**/
/* * Header---------------------------------------------------------------------------- */
.links ul {
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  right: 5em;
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  color: #e7e7de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  padding: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
  font-size: large;
  font-family: "Poppins", sans-serif;
}

.links ul li a:hover {
  background-color: #00587a;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: transparent;
}

.logo {
  position: relative;
  z-index: 1;
  margin-left: 5em;
  background-color: #0f3057;
}

.logo img {
  height: 75px;
}

h1 {
  letter-spacing: 2px;
  font-size: 40px;
  color: #0f3057;
  margin-top: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.burger {
  visibility: hidden;
  display: none;
}

/* !------------------------------------------------------------------------------------*/
/**/
/**/
/**/
/* * Footer -----------------------------------------------------------------------------*/
.products {
  color: #e7e7de;
  font-weight: 200;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  margin-right: 30%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.h1-link {
  margin: auto;
  color: #e7e7de;
  font-weight: normal;
}

/* !------------------------------------------------------------------------------------*/
/**/
/**/
/**/
/* * Content ---------------------------------------------------------------*/
#tabbed {
  margin-left: 1em;
  margin-top: 0.5em;
}

.quote {
  margin-top: 5.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
  -ms-grid-rows: 25em 5em;
      grid-template-rows: 25em 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -10%;
  margin-right: -10%;
  position: absolute;
  background-color: #0f3057;
  padding: 2em;
  width: 100%;
}

.quote img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  height: 20em;
}

.quote h2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #e7e7de;
  font-size: 40px;
}

.quote h6 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  color: #e7e7de;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

/* ! ---------------------------------------------------------------------*/
/**/
/**/
/**/
/* * Screen width of 768---------------------------------------------------*/
@media screen and (max-width: 768px) {
  /* * Body ---------------------------------------------------------------*/
  .page {
    margin-right: 1em;
    margin-left: 1em;
  }
  /* ! ---------------------------------------------------------------------*/
  /**/
  /**/
  /**/
  /* * Header --------------------------------------------------------------*/
  .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .logo {
    margin-left: 0em;
  }
  .burger {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    right: 3em;
    cursor: pointer;
    width: 5%;
    height: 3em;
  }
  .burger div {
    background-color: #e7e7de;
    height: 0.2em;
    width: 2em;
    border-radius: 15px;
  }
  .burger div:nth-child(2) {
    height: 0.189em;
  }
  .links {
    -webkit-transform: translateY(-10em) translateX(0em);
            transform: translateY(-10em) translateX(0em);
    background-color: #0f3057;
    width: 100%;
    position: absolute;
  }
  .links ul li a:hover {
    background-color: #0f3057;
    color: #e7e7de;
    border-bottom-style: none;
    border-bottom-width: none;
    border-bottom-color: none;
  }
  /* ! -----------------------------------------------------------------------*/
  /**/
  /**/
  /**/
  /* * Content -------------------------------------------------------------*/
  .quote {
    padding-left: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -1em;
    padding-bottom: 1em;
  }
  .quote h2 {
    margin-left: 0.15em;
    text-align: center;
    font-size: 2.25em;
  }
  .quote img {
    margin-top: -4em;
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  /* ! -----------------------------------------------------------------------*/
}

/* ! -----------------------------------------------------------------------*/
/**/
/**/
/**/
/* * Animations ----------------------------------------------------------------*/
@-webkit-keyframes dropdown {
  from {
    -webkit-transform: translateY(-10em);
            transform: translateY(-10em);
  }
  to {
    -webkit-transform: translateY(9.67em);
            transform: translateY(9.67em);
  }
}
@keyframes dropdown {
  from {
    -webkit-transform: translateY(-10em);
            transform: translateY(-10em);
  }
  to {
    -webkit-transform: translateY(9.67em);
            transform: translateY(9.67em);
  }
}

@-webkit-keyframes word-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes word-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes word-fade-rev {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes word-fade-rev {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes dropdown-rev {
  from {
    -webkit-transform: translateY(9.67em);
            transform: translateY(9.67em);
  }
  to {
    -webkit-transform: translateY(-10em);
            transform: translateY(-10em);
  }
}

@keyframes dropdown-rev {
  from {
    -webkit-transform: translateY(9.67em);
            transform: translateY(9.67em);
  }
  to {
    -webkit-transform: translateY(-10em);
            transform: translateY(-10em);
  }
}

/* ! -----------------------------------------------------------------------*/
/*# sourceMappingURL=style.css.map */