<div class="card">
  <h2>Feedback</h2>
  <div class="form">
    <input
      name="title"
      type="text"
      ngDefaultControl
      id="title"
      placeholder="Title"
      spellcheck="true"
      [(ngModel)]="title"
    />
    <select
      name="typeSelect"
      id="typeSelect"
      ngDefaultControl
      [(ngModel)]="typeSelect"
    >
      <option value="issue">Issue</option>
      <option value="suggestion">Suggestion</option>
      <option value="other">Other</option>
    </select>
    <div class="body">
      <div
        class="cuik-selection"
        *ngIf="typeSelect === 'issue' || typeSelect === 'suggestion'"
      >
        <h3>Select an app for feedback:</h3>
        <select ngDefaultControl [(ngModel)]="app" id="appSelect">
          <option value="cuikconvertor">Cuik Convertor</option>
          <option value="apptray">Apptray</option>
        </select>
      </div>
      <br />

      <h4>Description</h4>
      <textarea
        ngDefaultControl
        name="desc"
        spellcheck="true"
        cols="auto"
        rows="auto"
        [(ngModel)]="desc"
      ></textarea>
      <br />
      <button (click)="submitResponse()">Submit</button>
    </div>
  </div>
</div>
