<div class="main">
  <div class="card">
    <div class="back-btn">
      <svg
        [routerLink]="['/']"
        width="20"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        stroke-width="4"
        stroke-linecap="round"
      >
        <line x1="40%" y1="10%" x2="10%" y2="50%"></line>
        <line x1="10%" y1="50%" x2="40%" y2="90%"></line>
        <line x1="10%" y1="50%" x2="90%" y2="50%"></line>
      </svg>
    </div>
    <h2>Thank You for Registering</h2>

    <div class="formGroup" *ngIf="authService.isLoggedIn">
      <p class="text-center">
        We have sent a confirmation email to
        <strong>{{
          authService.storeData.value?.email || "Failed To Get User Email"
        }}</strong
        >.
      </p>
      <p class="text-center">
        Please check your email and click on the link to verify your email
        address.
      </p>
    </div>

    <!-- Calling SendVerificationMail() method using authService Api -->
    <div class="formGroup">
      <button
        type="button"
        class="verification-btn"
        (click)="authService.reconfirmEmail()"
      >
        Resend Verification Email
      </button>
      <button
        type="button"
        class="verification-btn"
        (click)="router.navigate(['/sign-in'])"
      >
        Sign In
      </button>
    </div>
  </div>
</div>
