<div class="main">
  <div class="card">
    <span style="font-size: 20px" routerLink="">X</span>
    <h3>Thank You for Registering</h3>

    <div class="formGroup" *ngIf="authService.isLoggedIn">
      <p class="text-center">
        We have sent a confirmation email to
        <strong>{{ authService.Email }}</strong
        >.
      </p>
      <p class="text-center">
        Please check your email and click on the link to verify your email
        address.
      </p>
    </div>

    <!-- Calling SendVerificationMail() method using authService Api -->
    <div class="formGroup">
      <button
        type="button"
        class="verification-btn"
        (click)="authService.SendVerificationMail()"
      >
        <i class="fas fa-redo-alt"></i>
        Resend Verification Email
      </button>
    </div>
    <div class="redirectToLogin">
      <span
        >Go back to ?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      >
    </div>
  </div>
</div>
