<div class="main">
  <div class="card">
    <span style="font-size: 20px" routerLink="">X</span>
    <h3>Sign In</h3>
    <div class="formGroup">
      <input
        type="text"
        class="formControl"
        placeholder="Email"
        #userEmail
        required
      />
    </div>

    <div class="formGroup">
      <input
        type="password"
        class="formControl"
        placeholder="Password"
        #userPassword
        required
      />
    </div>
    <div class="formGroup">
      <input
        type="button"
        class="sign-in-btn"
        value="Log in"
        (click)="authService.SignIn(userEmail.value, userPassword.value)"
      />
    </div>
    <div class="formGroup">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Calling GoogleAuth Api from AuthService -->
    <div class="formGroup">
      Sign in with:
      <button
        type="button"
        class="googleBtn"
        (click)="authService.GoogleAuth()"
      >
        <img src="../../../assets/img/GoogleLogo.png" alt="Google Logo" />
        <span>Google</span>
      </button>
    </div>

    <div class="forgotPassword">
      <span routerLink="/forgot-password">Forgot Password?</span>
    </div>
    <div class="redirectToLogin">
      <span
        >Don't have an account?<span
          class="redirect"
          routerLink="/register-user"
        >
          Sign Up</span
        ></span
      >
    </div>
  </div>
</div>
