<div class="main">
  <header>
    <img
      src="../../../assets/img/LOGO.png"
      alt="Logo"
      *ngIf="screenWidth >= 500"
    />
    <h1>Dashboard</h1>
    <h3 routerLink="">Go Back</h3>
  </header>
  <div class="page">
    <div class="side-bar" [ngClass]="{ closed: sideNavToggle }">
      <div class="profile-image">
        <img [src]="image" alt="Profile Image" width="66px" />
      </div>
      <div class="line"></div>
      <h3 routerLink="profile">Profile</h3>
      <h3 routerLink="password">Password</h3>
      <h3 routerLink="danger-zone">Danger Zone</h3>
      <div class="open-close-button" (click)="toggleSideNav()">
        <span><</span>
      </div>
    </div>
    <div class="router-movement" [ngClass]="{ 'move-router': sideNavToggle }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
