<div class="main">
  <div class="card">
    <span style="font-size: 20px" routerLink="">X</span>
    <h3>Sign Up</h3>

    <div class="formGroup">
      <input
        type="email"
        class="formControl"
        placeholder="Email Address"
        #userEmail
        required
      />
    </div>

    <div class="formGroup">
      <input
        type="password"
        class="formControl"
        placeholder="Password"
        #userPwd
        required
      />
    </div>

    <div class="formGroup">
      <input
        type="button"
        class="sign-up-btn"
        value="Sign Up"
        (click)="authService.SignUp(userEmail.value, userPwd.value)"
      />
    </div>

    <div class="formGroup">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Continue with Google -->
    <div class="formGroup">
      Sign in with:
      <button
        type="button"
        class="googleBtn"
        (click)="authService.GoogleAuth()"
      >
        <img src="../../../assets/img/GoogleLogopng.png" alt="Google Logo" />
        <span>Google</span>
      </button>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <span class="redirect" routerLink="/sign-in">Log In</span></span
        >
      </div>
    </div>
  </div>
</div>
