@use '../../../../Theme' as theme;

.main {
  width: 100vw;
  height: calc(100vh - 66px);
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: theme.$primary;
    align-items: center;
  }
}
