@use '../../../Theme' as theme;

div.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color: theme.$accent;
    box-shadow: 0px 0px 25px theme.$tertiary;
    border-radius: 20px;
    padding: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: theme.$accent;
    .formControl {
      border-color: theme.$tertiary;
      border-style: solid;
      border-radius: 7px;
      border-width: 1px;
      background-color: theme.$secondary;
      color: theme.$tertiary;
      &::placeholder {
        color: theme.$tertiary;
      }
      &:focus {
        outline-color: theme.$tertiary;
      }
    }
    .sign-in-btn {
      width: 60px;
      border-color: theme.$tertiary;
      border-style: solid;
      border-radius: 8px;
      color: theme.$tertiary;
      background-color: theme.$secondary;
      border-width: 1px;
      cursor: pointer;
      &:hover {
        background-color: theme.$tertiary;
        color: theme.$secondary;
      }
    }
    .formGroup {
      color: theme.$primary;

      .googleBtn {
        cursor: pointer;
        display: flex;
        width: 100px;
        height: 30px;
        align-items: center;
        justify-content: space-evenly;
        border-color: lightgrey;
        border-radius: 3px;
        img {
          max-width: 18px;
        }
      }
    }
    h3 {
      color: theme.$primary;
    }
    span {
      color: theme.$primary;
    }
    .redirect {
      color: theme.$tertiary;
    }
  }
}
