<div class="main">
  <div class="card">
    <div class="back-btn">
      <svg
        [routerLink]="['/']"
        width="20"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        stroke-width="4"
        stroke-linecap="round"
      >
        <line x1="40%" y1="10%" x2="10%" y2="50%"></line>
        <line x1="10%" y1="50%" x2="40%" y2="90%"></line>
        <line x1="10%" y1="50%" x2="90%" y2="50%"></line>
      </svg>
    </div>
    <h2>Reset Password</h2>

    <p class="text-center">
      Please enter your email address to request a password reset.
    </p>

    <div class="formGroup">
      <input
        type="email"
        class="formControl"
        placeholder="Email Address"
        #passwordResetEmail
      />
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup">
      <input
        type="submit"
        class="reset-btn"
        value="Reset Password"
        (click)="authService.ForgotPassword(passwordResetEmail.value)"
      />
      <input
        type="submit"
        class="reset-btn"
        value="Sign In"
        (click)="router.navigate(['/sign-in'])"
      />
    </div>
  </div>
</div>
