@use '../../../_Theme' as theme;

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  h1 {
    margin-top: 30px;
    color: theme.$primary;
    font-family: theme.$Poppins;
  }
  h3 {
    margin-top: 50px;
    color: theme.$primary;
    font-family: theme.$Poppins;
    text-align: center;
  }
  h2 {
    color: theme.$primary;
    span {
      color: theme.$tertiary;
    }
  }
  .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      text-align: center;
      word-break: break-word;
    }
  }
}
