@use '../../../Theme' as theme;

.logs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  margin-top: 50px;
  color: theme.$primary;
  .log {
    width: 300px;
  }
  hr {
    border: 2px solid theme.$primary;
    border-radius: 5px;
  }
}
