<nav>
  <img src="../../assets/img/LOGO.png" alt="Logo" />
  <ul #navList [class]="navToggleClass">
    <li routerLink="/" [class.active]="router.isActive('/', true)">
      <a routerLink="/">Home</a>
    </li>
    <li
      routerLink="/support"
      [class.active]="router.isActive('/support', true)"
    >
      <a routerLink="/support">Support</a>
    </li>
    <li
      (mouseenter)="setActiveRoute()"
      [routerLink]="loginPanel ? [] : [activeRoute]"
      (click)="openLogin()"
    >
      <div *ngIf="authService.isLoggedIn; else login">
        <img class="profile-image" [src]="image" />
        <div class="login-panel" *ngIf="loginPanel">
          <ul>
            <li [routerLink]="['/dashboard/profile']">Dashboard</li>
            <li (click)="authService.SignOut()">Log out</li>
          </ul>
        </div>
      </div>

      <ng-template #login>
        <span>Login</span>
      </ng-template>
    </li>
  </ul>
  <cuik-burger (openNavEmitter)="toggleNav($event)"></cuik-burger>
</nav>
