$primary: #0f3057;
$secondary: #e7e7de;
$tertiary: #00587a;
$accent: #008891;
$green: #83a95c;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$Poppins: "Poppins", sans-serif;
