/* You can add global styles to this file, and also import other style files */
@use './_Theme' as theme;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: theme.$Poppins;
}
body,
html {
  background-color: theme.$secondary;
  height: 100%;
  width: 100%;
  margin: 0px;
}